<h1>Enter your cents!</h1>
<form action="/results" method="post">
  <label for="cents">Enter your cents $0.</label>
  <input type="text" name="cents">
  <button type="submit">Calculate</button>
</form>
